<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Portfolio Jerry Apaza Yllatupa
    link(rel="stylesheet", href="css/app.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    <!-- Global site tag (gtag.js) - Google Analytics -->
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-X39Q2V91EL")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-X39Q2V91EL');
  
  body
    .body-box
      .icon-hamburger#icon-hamburger
        span.fa.fa-bars
      header.header-box#header-principal
        .avatar
          .avatar-img
            img.img-perfil(src="img/avatar.jpeg", alt="Jerry-apaza")
          h2 Jerry Apaza
        .contact
          a(href="https://www.instagram.com/jerryapazayllatupa/"  target="_blank")
            span.span-icon.fa.fa-instagram
          a(href="https://www.linkedin.com/in/jerry-apaza/"  target="_blank")
            span.span-icon.fa.fa-linkedin
          a(href="https://github.com/JerryApazaYllatupa"  target="_blank")
            span.span-icon.fa.fa-github
          a(href="https://twitter.com/Jerry70843874" target="_blank")
            span.span-icon.fa.fa-twitter
          a(href="https://api.whatsapp.com/send?phone=984002665&text=&source=&data=&app_absent=" target="_blank")
            span.span-icon.fa.fa-whatsapp

        .menu
          ul.menu-ul#menu-principal
            li.menu-item
              a(href="#Home") 
                span.span-icon.fa.fa-home
                span Inicio
            li.menu-item
              a(href="#About") 
                span.span-icon.fa.fa-user
                span Acerca de Mi
            li.menu-item
              a(href="#Resume") 
                span.span-icon.fa.fa-file-text
                span Resumen
            li.menu-item
              a(href="#Portfolio") 
                span.span-icon.fa.fa-briefcase
                span Portafolio
            li.menu-item
              a(href="#Services")
                span.span-icon.fa.fa-database  
                span Servicios
            li.menu-item
              a(href="#Contact")
                span.span-icon.fa.fa-envelope
                span Contactame 
          
        .footer
          p © Copyright y Desarollado por Jerry Apaza
      main.main-box
        .box-container
          section.slider#Home
            img.slider-photo(src="img/slider-jerry-apaza1.jpg", alt="Jerry Apaza")
            .slider-capa
            .slider-text
              h1.slider-text__name Jerry Apaza
              h2.slier-text__description Programador 
          section.about.section-container#About
            h1.text-title  Acerta de Mi
            p.text-p Desarrollador Web y Programador Backend, investigador,  autodidacta, aprendiendo y practicando todo el tiempo con las últimas tecnologías, dispuesto a afrontar retos.

            h2.text-title Cualidades y Valores
            .about-values
              p.values-text Autodidacta
              p.values-text Aprendizaje Rapido
              p.values-text Persistente
              p.values-text Proactivo
              span.values-line

            h2.text-title Information
            .information-box
              .info-box
                a(href="https://api.whatsapp.com/send?phone=984002665&text=&source=&data=&app_absent=" target="_blank") 
                  span.info-icon.fa.fa-whatsapp
                  span +51 984002665
                a(href="tel:+51984002665" target="_blank") 
                  span.info-icon.fa.fa-phone
                  span +51 984002665
                a(href="mailto:jerryapaza8@gmail.com" target="_blank") 
                  span.info-icon.fa.fa-envelope-open
                  span jerryapaza8@gmail.com
              .info-box
                .info-box__item
                  span.info-icon.fa.fa-check-square
                  span.text-p Freelance:  Disponible
                .info-box__item
                  span.info-icon.fa.fa-id-card
                  span.text-p Años:  23
                .info-box__item
                  span.info-icon.fa.fa-map-marker
                  span.text-p Pais: Cusco Peru
          section.skills.section-container
            h1.text-title Habilidades
            p.text-p Me encanta resolver problemas y estar en desafíos todo el tiempo.
            .skill-box
              .skill-container
                span.skill-icon.fa.fa-code
                h2.text-title.title-2 Desarrollador Frontend 
                p.text-p HTML5
                p.text-p CSS
                p.text-p JavaScript
                p.text-p Bootstrap
                p.text-p React
                p.text-p Flexbox y Grid
                p.text-p Sass
                p.text-p Pug
                p.text-p EJS
                p.text-p Blade
                p.text-p Nodejs
               
              .skill-container
                span.skill-icon.fa.fa-code-fork
                h2.text-title.title-2 Programador Backend
                p.text-p Php
                p.text-p Laravel
                p.text-p Python
                p.text-p JavaScript
                p.text-p Node.js 
                p.text-p Express.js
                p.text-p Firebase
                p.text-p go
                span.skill-icon.fa.fa-database
                h2.text-title.title-2 Data base
                p.text-p Mysql
                p.text-p MongoDB
            

              .skill-container
                span.skill-icon.fa.fa-cogs
                h2.text-title.title-2 Otras Tecnologias
                p.text-p Git
                p.text-p Github
                p.text-p NPM
                p.text-p Figma
                p.text-p Ubuntu 
                p.text-p Slack
                p.text-p Postman
          section.resume.section-container#Resume
            h1.text-title  Resumen
            .resume-content
              span.resume-icon.resume-icon__especial.fa.fa-graduation-cap
              h2.text-title.title-2  Desarrollo de Sistemas de Información
              p.text-p Instituto Privado Tecnologico - KHIPU 03/01/2016 TO 01/01/2019
            .resume-content  
              span.resume-line
              span.resume-icon.fa.fa-html5
              h2.text-title.title-2 Desarrollador web
              p.text-p Portal of light  10/01/2019 a 29/06/2019  
              p.text-p Lograr mejores ventas en la empresa, realizar el diseño, desarrollar e implementar implementando páginas web y una aplicación web con Css3, Html, 5 Javascript, Php y Mysql.
            .resume-content  
              span.resume-line
              span.resume-icon.resume-icon__especial.fa.fa-server
              h2.text-title.title-2 Programador Web Freelance
              p.text-p 07/01/2019 - Actual  
              p.text-p Desarrollo de páginas web y aplicaciones con tecnologías, React, Node.js, firebase, Mongodb, javascript, python
          section.portfolio.section-container#Portfolio
            h1.text-title Portfolio
            p.text-p
            .portfolio-content
              .portfolio-box
                img.portfolio-img(src="img/jerryapaza-proyect.jpg", alt="Desarrollor-web")
                h2.text-title.title-2 Portafolio Web 
                p.text-p Un Portafolio Web con UI UX Desarrollado con Sass, Pug y programado con la tecnologia JavaScript, Firebase
                .portfolio-buttons
                  a.portfolio-buttons__link(href="/" target="_blank") 
                    span.portfolio-icon.fa.fa-external-link
                  a.portfolio-buttons__link(href="https://github.com/JerryApazaYllatupa/portfolio-2020" target="_blank")
                    span.portfolio-icon.fa.fa-github
              .portfolio-box
                img.portfolio-img(src="img/hotel-proyect.jpg", alt="Desarrollor-web")
                h2.text-title.title-2 Plantilla Hotel 
                p.text-p Template para Wordpress Diseñado con Sass, Pug y javascript integrado con Wordpress
                .portfolio-buttons
                  a.portfolio-buttons__link(href="https://www.hotelrojascusco.com/" target="_blank") 
                    span.portfolio-icon.fa.fa-external-link
                  a.portfolio-buttons__link(href="https://github.com/JerryApazaYllatupa/plantilla-hotel" target="_blank")
                    span.portfolio-icon.fa.fa-github
              .portfolio-box
                img.portfolio-img(src="img/myrobrasyservicios.jpg", alt="Desarrollor-web")
                h2.text-title.title-2 Aplicación web de Contructura 
                p.text-p Desarrollado y programado  con la tecnologia react, firebase
                .portfolio-buttons
                  a.portfolio-buttons__link(href="https://myrobrasyservicios.com/" target="_blank") 
                    span.portfolio-icon.fa.fa-external-link
                  a.portfolio-buttons__link.link-disable(href="#" target="_blank")
                    span.portfolio-icon.fa.fa-github
          section.services.section-container#Services
            h1.text-title Servicio
            .services-content
              .services-item
                span.services-icon.fa.fa-file-code-o
                h2.text-title.title-2 Desarrollo web
                p.text-p Desarrollo de paginas Webs a medida del cliente, que son páginas informativas, Blogs, Portafolios, Marca de empresa, Marca personal, Landing page
 
              .services-item
                span.services-icon.fa.fa-shopping-cart
                h2.text-title.title-2 Creación de Aplicaciones Webs
                p.text-p Desarrollado y programación de aplicaciones Webs, que son paginas con base de datos ejemplo: Registro de datos, reserva de servicios, woocommerce.
              .services-item
                span.services-icon.fa.fa-user-secret
                h2.text-title.title-2 Mantenimiento y seguridad en Web 
                p.text-p Actualizar, reparar  fallos, Actualización de datos, Integrar servicios, Renovación a las tecnologías actuales y pentesting para prevenir vulnerabilidades de ataques externos.
          section.contact.section-container#Contact
            h1.text-title Contacto
            .contact-box
              .contact-content
                .contact-content__item
                  span.contact-icon.fa.fa-location-arrow
                  .contact-item__text
                    h2.text-title.title-2 Ubicación:
                    p.text-p San geronimo, Cusco, Peru
                .contact-content__item
                  span.contact-icon.fa.fa-envelope
                  .contact-item__text
                    h2.text-title.title-2 E-mail:
                    p.text-p jerryapaza8 @gmail.com
                .contact-content__item
                  span.contact-icon.fa.fa-phone
                  .contact-item__text
                    h2.text-title.title-2 Llamar:
                    a(href="tel:+51984002665" target="_blank") +51 984 002665
                .contact-content__item
                  img.contact-google-maps(src="img/google-maps.jpeg", alt="jerry apaza")
                
              .contact-content
                form.contact-form(action="")
                  .contact-form__item
                    label.text-title.title-2(for="#name") Su Nombre
                    input.form-input#name(type="text")
                  .contact-form__item
                    label.text-title.title-2(for="#email") Correo
                    input.form-input#email(type="email")
                  .contact-form__item
                    label.text-title.title-2(for="#subject") Asunto
                    input.form-input#subject(type="text")
                  .contact-form__item
                    label.text-title.title-2(for="#message") Mensaje
                    textarea.form-input#message(name="", cols="30", rows="10")
                  .contact-form__item
                    input.form-button#btn-send(type="submit" value="Enviar Correo")
    script(src="js/app.js")
    