<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Portfolio Jerry Apaza Yllatupa
    link(rel="stylesheet", href="css/app.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-X39Q2V91EL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-X39Q2V91EL');
</script>
  body
    .body-box
      .icon-hamburger#icon-hamburger
        span.fa.fa-bars
      header.header-box#header-principal
        .avatar
          .avatar-img
            img.img-perfil(src="img/avatar.jpeg", alt="Jerry-apaza")
          h2 Jerry Apaza
        .contact
          a(href="https://www.instagram.com/jerryapazayllatupa/"  target="_blank")
            span.span-icon.fa.fa-instagram
          a(href="https://www.linkedin.com/in/jerry-apaza/"  target="_blank")
            span.span-icon.fa.fa-linkedin
          a(href="https://github.com/JerryApazaYllatupa"  target="_blank")
            span.span-icon.fa.fa-github
          a(href="https://twitter.com/Jerry70843874" target="_blank")
            span.span-icon.fa.fa-twitter
          a(href="https://api.whatsapp.com/send?phone=984002665&text=&source=&data=&app_absent=" target="_blank")
            span.span-icon.fa.fa-whatsapp

        .menu
          ul.menu-ul#menu-principal
            li.menu-item
              a(href="#Home") 
                span.span-icon.fa.fa-home
                span Home
            li.menu-item
              a(href="#About") 
                span.span-icon.fa.fa-user
                span About
            li.menu-item
              a(href="#Resume") 
                span.span-icon.fa.fa-file-text
                span Resume
            li.menu-item
              a(href="#Portfolio") 
                span.span-icon.fa.fa-briefcase
                span Portafolio
            li.menu-item
              a(href="#Services")
                span.span-icon.fa.fa-database  
                span Services
            li.menu-item
              a(href="#Contact")
                span.span-icon.fa.fa-envelope
                span Contact 
          
        .footer
          p © Copyright and  Designed by jerryapaza
      main.main-box
        .box-container
          section.slider#Home
            img.slider-photo(src="img/slider-jerry-apaza.jpeg", alt="Jerry Apaza")
            .slider-capa
            .slider-text
              h1.slider-text__name Jerry Apaza
              h2.slier-text__description Web Programmer
          section.about.section-container#About
            h1.text-title  About
            p.text-p Web Developer and Backend Programmer, being in challenges and learning all the time and thus provide solutions. researcher, and willing to continue facing challenges.
            h2.text-title Qualities and Values
            .about-values
              p.values-text Autodidact
              p.values-text Fast learning
              p.values-text Persistent
              p.values-text Proactive
              span.values-line

            h2.text-title Information
            .information-box
              .info-box
                a(href="https://api.whatsapp.com/send?phone=984002665&text=&source=&data=&app_absent=" target="_blank") 
                  span.info-icon.fa.fa-whatsapp
                  span +51 984002665
                a(href="tel:+51984002665" target="_blank") 
                  span.info-icon.fa.fa-phone
                  span +51 984002665
                a(href="mailto:jerryapaza8@gmail.com" target="_blank") 
                  span.info-icon.fa.fa-envelope-open
                  span jerryapaza8@gmail.com
              .info-box
                .info-box__item
                  span.info-icon.fa.fa-check-square
                  span.text-p Freelance:  Disponible
                .info-box__item
                  span.info-icon.fa.fa-id-card
                  span.text-p Años:  22
                .info-box__item
                  span.info-icon.fa.fa-map-marker
                  span.text-p Pais: Cusco Peru
          section.skills.section-container
            h1.text-title Skills
            p.text-p I love solving problems and being in challenges all the time.
            .skill-box
              .skill-container
                span.skill-icon.fa.fa-code
                h2.text-title.title-2  Frontend Developer
                p.text-p HTML5
                p.text-p CSS
                p.text-p JavaScript
                p.text-p Bootstrap
                p.text-p React
                p.text-p Flexbox y Grid
                p.text-p Sass
                p.text-p Pug
                p.text-p EJS
                p.text-p Blade
                p.text-p Nodejs
               
              .skill-container
                span.skill-icon.fa.fa-code-fork
                h2.text-title.title-2 Backend Programmer
                p.text-p Php
                p.text-p Laravel
                p.text-p Python
                p.text-p JavaScript
                p.text-p Node.js 
                p.text-p Express.js
                p.text-p Firebase
                p.text-p go
                span.skill-icon.fa.fa-database
                h2.text-title.title-2 Data base
                p.text-p Mysql
                p.text-p MongoDB
            

              .skill-container
                span.skill-icon.fa.fa-cogs
                h2.text-title.title-2 Other technologies
                p.text-p Git
                p.text-p Github
                p.text-p NPM
                p.text-p Figma
                p.text-p Ubuntu 
                p.text-p Slack
                p.text-p Postman
          section.resume.section-container#Resume
            h1.text-title  Resumen
            .resume-content
              span.resume-icon.resume-icon__especial.fa.fa-graduation-cap
              h2.text-title.title-2  Information Systems Development
              p.text-p KHIPU Technological Private Institute 03/01/2016 TO 01/01/2019
            .resume-content  
              span.resume-line
              span.resume-icon.fa.fa-html5
              h2.text-title.title-2 Web Developer
              p.text-p Portal of light  10/01/2019 a 29/06/2019  
              p.text-p Achieving better sales in the company, performing the design, developing and implementing implementing web pages and a web application with Css3, Html, 5 Javascript, Php and Mysql 
            .resume-content  
              span.resume-line
              span.resume-icon.resume-icon__especial.fa.fa-server
              h2.text-title.title-2 Programmer Web Freelance
              p.text-p 07/01/2019 - Current  
              p.text-p Developing web pages and applications with technologies, React, Node.js, firebase, Mongodb, javascript, python
          section.portfolio.section-container#Portfolio
            h1.text-title Portfolio
            p.text-p
            .portfolio-content
              .portfolio-box
                img.portfolio-img(src="img/img-portfolio.jpeg", alt="Desarrollor-web")
                h2.text-title.title-2 Aplicación web de Contructura 
                p.text-p Desarrollado y programado  con la tecnologia react, firebase
                .portfolio-buttons
                  a.portfolio-buttons__link(href="#" target="_blank") 
                    span.portfolio-icon.fa.fa-external-link
                  a.portfolio-buttons__link(href="#" target="_blank")
                    span.portfolio-icon.fa.fa-github
              .portfolio-box
                img.portfolio-img(src="img/img-portfolio.jpeg", alt="Desarrollor-web")
                h2.text-title.title-2 Aplicación web de Contructura 
                p.text-p Desarrollado y programado  con la tecnologia react, firebase
                .portfolio-buttons
                  a.portfolio-buttons__link(href="#" target="_blank") 
                    span.portfolio-icon.fa.fa-external-link
                  a.portfolio-buttons__link(href="#" target="_blank")
                    span.portfolio-icon.fa.fa-github
              .portfolio-box
                img.portfolio-img(src="img/img-portfolio.jpeg", alt="Desarrollor-web")
                h2.text-title.title-2 Aplicación web de Contructura 
                p.text-p Desarrollado y programado  con la tecnologia react, firebase
                .portfolio-buttons
                  a.portfolio-buttons__link(href="#" target="_blank") 
                    span.portfolio-icon.fa.fa-external-link
                  a.portfolio-buttons__link(href="#" target="_blank")
                    span.portfolio-icon.fa.fa-github
          section.services.section-container#Services
            h1.text-title Services
            .services-content
              .services-item
                span.services-icon.fa.fa-file-code-o
                h2.text-title.title-2 Creation of Web Pages
                p.text-p Development of web pages tailored to the client, which are information pages, Blogs, Portfolios, Company brand, Personal brand, Landing page
              .services-item
                span.services-icon.fa.fa-shopping-cart
                h2.text-title.title-2 Creation of Web Applications
                p.text-p Developed and programming of Web applications, which are pages with an example database: Data registration, reservation of services, woocommerce.
              .services-item
                span.services-icon.fa.fa-user-secret
                h2.text-title.title-2 Web Maintenance and Security
                p.text-p Update, repair bugs, Update data, Integrate services, Renewal to current technologies and pentesting to prevent vulnerabilities from external attacks.
          section.contact.section-container#Contact
            h1.text-title Contact
            .contact-box
              .contact-content
                .contact-content__item
                  span.contact-icon.fa.fa-location-arrow
                  .contact-item__text
                    h2.text-title.title-2 Location:
                    p.text-p San geronimo, Cusco, Peru
                .contact-content__item
                  span.contact-icon.fa.fa-envelope
                  .contact-item__text
                    h2.text-title.title-2 E-mail:
                    p.text-p jerryapaza8 @gmail.com
                .contact-content__item
                  span.contact-icon.fa.fa-phone
                  .contact-item__text
                    h2.text-title.title-2 Call:
                    a(href="tel:+51984002665" target="_blank") +51 984 002665
                .contact-content__item
                  img.contact-google-maps(src="img/google-maps.jpeg", alt="jerry apaza")
                
              .contact-content
                form.contact-form(action="")
                  .contact-form__item
                    label.text-title.title-2(for="#name") Your Name
                    input.form-input#name(type="text")
                  .contact-form__item
                    label.text-title.title-2(for="#email") Your Email
                    input.form-input#email(type="email")
                  .contact-form__item
                    label.text-title.title-2(for="#subject") Subject
                    input.form-input#subject(type="text")
                  .contact-form__item
                    label.text-title.title-2(for="#message") Message
                    textarea.form-input#message(name="", cols="30", rows="10")
                  .contact-form__item
                    input.form-button#btn-send(type="submit" value=" Send Message")
    script(src="js/app.js")
    