<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="css/app.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  body
    .body-box
      .icon-hamburger
        span.fa.fa-bars
      header.header-box
        .avatar
          .avatar-img
            img.img-perfil(src="img/avatar.jpg", alt="Jerry-apaza")
          h2 Jerry Apaza
        .contact
          a(href="http://")
            span.span-icon.fa.fa-instagram
          a(href="http://")
            span.span-icon.fa.fa-linkedin
          a(href="http://")
            span.span-icon.fa.fa-github
          a(href="http://")
            span.span-icon.fa.fa-envelope

        .menu
          ul.menu-ul
            li.menu-item
              a(href="#") 
                span.span-icon.fa.fa-home
                span Home
            li.menu-item
              a(href="#") 
                span.span-icon.fa.fa-user
                span About
            li.menu-item
              a(href="#") 
                span.span-icon.fa.fa-file-text
                span Resume
            li.menu-item
              a(href="#") 
                span.span-icon.fa.fa-briefcase
                span Portafolio
            li.menu-item
              a(href="#")
                span.span-icon.fa.fa-database  
                span Services
            li.menu-item
              a(href="#")
                span.span-icon.fa.fa-envelope
                span Contact 
          
        .footer
          p © Copyright and 
          p Designed by jerryapaza
      main.main-box
        .box-container
          section.slider
            img.slider-photo(src="img/photo-man.jpg", alt="Jerry Apaza")
            .slider-text
              h1.slider-text__name Jerry Apaza
              h2.slier-text__description Programador web
          section.about.section-container
            h1.text-title  Sobre mi
            p.text-p Desarrollador Web y Programador backend, estando en retos y aprendiendo todo el tiempo y así brindar soluciones. investigador, y dispuesto a seguir enfrentando retos.
            h2.text-title Cualidades y Valores
            .about-values
              p.values-text Autodidacta
              p.values-text Aprendizaje rapido
              p.values-text Perseverante
              p.values-text Proactivo
              span.values-line

            h2.text-title Infomación
            .information-box
              .info-box
                a(href="#") 
                  span.info-icon.fa.fa-whatsapp
                  span +51 984002665
                a(href="#") 
                  span.info-icon.fa.fa-phone
                  span +51 984002665
                a(href="#") 
                  span.info-icon.fa.fa-envelope-open
                  span jerryapaza8@gmail.com
              .info-box
                a(href="#") 
                  span.info-icon.fa.fa-check-square
                  span Freelance:  Disponible
                a(href="#") 
                  span.info-icon.fa.fa-id-card
                  span Años:  22
                a(href="#") 
                  span.info-icon.fa.fa-map-marker
                  span Pais: Cusco Peru
          section.skills.section-container
            h1.text-title Habilidades
            p.text-p Me encanta solucinar problemas y estar en desafios todo el tiempo, mi pasion por la tecnologia me llevado especialzarme en el desarrollo web y la progamación para asi poder aportar soluciones y afrontar retos 
            .skill-box
              .skill-container
                span.skill-icon.fa.fa-code
                h2.text-title.title-2  Desarrollador  Frontend
                p.text-p HTML5
                p.text-p CSS
                p.text-p JavaScript
                p.text-p Bootstrap
                p.text-p React
                p.text-p Flexbox y Grid
                p.text-p Sass
                p.text-p Pug
                p.text-p EJS
                p.text-p Blade
                p.text-p Nodejs
               
              .skill-container
                span.skill-icon.fa.fa-code-fork
                h2.text-title.title-2  Programador Backend
                p.text-p Php
                p.text-p Laravel
                p.text-p Python
                p.text-p JavaScript
                p.text-p Node.js 
                p.text-p Express.js
                p.text-p Firebase
                p.text-p go
                span.skill-icon.fa.fa-database
                h2.text-title.title-2  Base de datos
                p.text-p Mysql
                p.text-p MongoDB
            

              .skill-container
                span.skill-icon.fa.fa-cogs
                h2.text-title.title-2 Otras tecnologias
                p.text-p Git
                p.text-p Github
                p.text-p NPM
                p.text-p Figma
                p.text-p Ubuntu 
                p.text-p Slack
                p.text-p Postman
          section.resume.section-container
            h1.text-title  Resumen
            .resume-content
              span.resume-icon.resume-icon__especial.fa.fa-graduation-cap
              h2.text-title.title-2   Desarrollo de sistemas de información
              p.text-p Instituto privado tecnologico KHIPU  01/03/2016 A 01/01/2019  
            .resume-content  
              span.resume-line
              span.resume-icon.fa.fa-html5
              h2.text-title.title-2   Desarrollador web
              p.text-p Portal of light  10/01/2019 a 29/06/2019  
              p.text-p logrando mejorar las ventas en la empresa, renobando, diseñando e implementando nuevas paginas desde cero 
            .resume-content  
              span.resume-line
              span.resume-icon.resume-icon__especial.fa.fa-server
              h2.text-title.title-2   Programdor web freelance
              p.text-p 01 /07/2019 - Actual  
              p.text-p Hasta este tiempo logramos con un equipo de trabajo realizar, paginas web, aplicaciones web para pequeñas y medianas empresas, estudiando nuevas tecnologias web y aplicado en los proyectos  
          section.portfolio.section-container
            h1.text-title Portafolio
            p.text-p
            .portfolio-content
              .portfolio-box
                img.portfolio-img(src="img/img-portfolio.jpg", alt="Desarrollor-web")
                h2.text-title.title-2 Aplicación web de Contructura 
                p.text-p Desarrollado y programado  con la tecnologia react, firebase
                .portfolio-buttons
                  a.portfolio-buttons__link(href="#" target="_blanck") 
                    span.portfolio-icon.fa.fa-external-link
                  a.portfolio-buttons__link(href="#" target="_blanck")
                    span.portfolio-icon.fa.fa-github
              .portfolio-box
                img.portfolio-img(src="img/img-portfolio.jpg", alt="Desarrollor-web")
                h2.text-title.title-2 Aplicación web de Contructura 
                p.text-p Desarrollado y programado  con la tecnologia react, firebase
                .portfolio-buttons
                  a.portfolio-buttons__link(href="#" target="_blanck") 
                    span.portfolio-icon.fa.fa-external-link
                  a.portfolio-buttons__link(href="#" target="_blanck")
                    span.portfolio-icon.fa.fa-github
              .portfolio-box
                img.portfolio-img(src="img/img-portfolio.jpg", alt="Desarrollor-web")
                h2.text-title.title-2 Aplicación web de Contructura 
                p.text-p Desarrollado y programado  con la tecnologia react, firebase
                .portfolio-buttons
                  a.portfolio-buttons__link(href="#" target="_blanck") 
                    span.portfolio-icon.fa.fa-external-link
                  a.portfolio-buttons__link(href="#" target="_blanck")
                    span.portfolio-icon.fa.fa-github
          section.services.section-container
            h1.text-title Services
            .services-content
              .services-item
                span.services-icon.fa.fa-file-code-o
                h2.text-title.title-2 Creación de Paginas Webs
                p.text-p Desarrollo de paginas Webs a medida del cliente, que son paginas informativas, Blogs, Portafolios, Marca de empresa, Marca personal, Landing page
              .services-item
                span.services-icon.fa.fa-shopping-cart
                h2.text-title.title-2 Creación de Aplicaciones Webs
                p.text-p Desarrollado y programación de aplicaciones Webs, que son paginas con base de datos ejemplo: Registro de datos, reserva de servicios, woocommerce.
              .services-item
                span.services-icon.fa.fa-user-secret
                h2.text-title.title-2 Mantenimiento y seguridad en Web 
                p.text-p Actualizar, Reprar fallos, Actualización de datos, Integrar servicios, Renovación a las tecnologias actuales y pentesting para prevenir vulnerarbilidades de ataques externos.
          section.contact.section-container
            h1.text-title Contact
            .contact-box
              .contact-content
                .contact-content__item
                  span.contact-icon.fa.fa-location-arrow
                  .contact-item__text
                    h2.text-title.title-2 Location:
                    p.text-p San geronimo, Cusco, Peru
                .contact-content__item
                  span.contact-icon.fa.fa-envelope
                  .contact-item__text
                    h2.text-title.title-2 E-mail:
                    p.text-p jerryapaza8@gmail.com
                .contact-content__item
                  span.contact-icon.fa.fa-phone
                  .contact-item__text
                    h2.text-title.title-2 Call:
                    a(href="#") +51 984 002665
                .contact-content__item
                  img.contact-google-maps(src="img/google-maps.png", alt="jerry apaza")
                
              .contact-content
                form.contact-form(action="")
                  .contact-form__item
                    label.text-title.title-2(for="") Your Name
                    input.form-input(type="text")
                  .contact-form__item
                    label.text-title.title-2(for="") Your Email
                    input.form-input(type="email")
                  .contact-form__item
                    label.text-title.title-2(for="") Subject
                    input.form-input(type="text")
                  .contact-form__item
                    label.text-title.title-2(for="") Message
                    textarea.form-input(name="", cols="30", rows="10")
                  .contact-form__item
                    input.form-button(type="submit" value=" Send Message")
    