@import './00_Library/includes';
@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

/* 
 In this part I declare the global variables
*/

:root {
	// primary variables
	--colorPrimary: #060924;
	--colorPrimaryLigth: #4caf50;
	--colorSecondary: #f0f0f0;
	--colorTree: #182f43;

	--colorText: #d8d8d8;
	--colorTextWhite: #fff;
	--transparent: rgba(0, 0, 0, 0);

	//secondary variables
	--maxWith: 1300px;
	--widthaside: 300px;
	--widthasideright: 260px;
	--widthcontent: calc(100% - var(--widthasideright));
	--fontFamily: 'Kurale', serif;
	--fontText: 'Monospase';
}

// scss variables
$font: var(--fontFamily);
$cPrimary: var(--colorPrimary);
$cPrimaryLight: var(--colorPrimaryLigth);
$cTree: var(--colorTree);
$cSecondary: var(--colorSecondary);
$cBg: var(--colorPrimary);
$cText: var(--colorText);
$cHover: brightness(130%);
$cTextWhite: var(--colorTextWhite);
$whitAside: var(--widthaside);
$fontText: var(--fontText);
$maxWith: var(--maxWith);

/* 
----------------------------------------------------------------------
------------ STAR WHIT DESING--------------------
----------------------------------------------------------------------
*/

body {
	font-family: $font;
}

p {
	font-family: $fontText;
}

.main-box {
	@include Bgradient;
}

.text-p {
	color: $cText;
	text-align: center;
}

.text-title {
	color: $cSecondary;
	font-size: 1.5em;
	text-align: center;

	@include from {
		font-size: 2em;
	}
}

.title-2 {
	font-size: 1.3em;
}

.section-container {
	padding: 1em;
	margin: auto;

	@include from {
		max-width: $maxWith;
	}
}

.body-box {
	.icon-hamburger {
		display: flex;
		font-size: 2em;
		position: fixed;
		cursor: pointer;
		z-index: 3;
		left: 10px;
		background-color: $cPrimaryLight;
		padding: 0.2em;
		top: 2px;
		height: 44px;
		color: $cPrimary;
		border-radius: 3px;

		&:hover .fa {
			color: $cSecondary;
		}

		& .fa {
			color: $cTextWhite;
		}

		@include from {
			display: none;
		}
	}
}

.header-box {
	color: $cTextWhite;
	position: fixed;
	width: $whitAside;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: $cPrimary;
	display: none;
	z-index: 2;

	@include from {
		display: block;
	}

	&.active {
		display: block;
	}
}

.header-box {
	& ul {
		list-style-type: none;
	}

	& a {
		text-decoration: none;
	}

	& .span-icon.fa {
		color: white;
	}

	& .avatar {
		@include centerFlex;

		&-img {
			width: 135px;
			height: 135px;

			.img-perfil {
				max-width: 100%;
				height: auto;
				border: 2px solid white;
				border-radius: 50%;
			}
		}
	}

	& .contact {
		display: grid;
		grid-template-columns: repeat(5, auto);
		margin: auto auto 2em auto;
		justify-items: center;
		width: 80%;

		& a {
			width: 26px;
			height: 26px;
			border-radius: 50%;
			background-color: $cPrimaryLight;
			display: flex;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			font-size: 1.3em;
			padding: 0.8em;

			&:hover span {
				color: $cHover;
			}
		}
	}

	& .menu {
		&-ul {
			display: grid;
			align-items: center;
			margin: 0;
			padding: 0;
			width: 80%;
			margin: auto;
		}

		.menu-item {
			border-radius: 5px;

			a {
				color: white;
				font-size: 1em;
				padding: 0.5em;
				width: 100%;
				display: block;
			}

			.span-icon {
				margin-right: 0.5em;
			}

			&:hover a {
				color: $cHover;
			}

			&.active {
				background-color: $cPrimaryLight;
			}
		}
	}

	.footer {
		width: 100%;
		text-align: center;
		position: absolute;
		bottom: 0;

		p {
			font-size: 0.8em;
		}
	}
}

.main-box {
	@include from {
		margin-left: 300px;
	}
}

/* 
 =========This Section Slider========
*/
.slider {
	position: relative;

	&-photo {
		width: 100%;
		height: auto;
	}

	&-capa {
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	@include from() {
		animation: bg 20s linear infinite alternate;
		transform: translateY(-10%);
	}

	@keyframes bg {
		to {
			transform: translateY(0.1%);
		}
	}

	&-text {
		color: $cTextWhite;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		@include centerFlex;

		&__name {
			font-size: 2em;
			margin: 0;

			@include from(l) {
				font-size: 5em;
			}
		}
	}
}

/* 
 ========This Section About========

*/

.about-values {
	display: flex;
	justify-content: space-around;
	position: relative;
	flex-wrap: wrap;

	.values-text {
		padding: 0.5em 2em;
		color: $cTextWhite;
		background-color: $cPrimaryLight;
		border-radius: 50px;

		@include from {
			padding: 1em 2em;
		}
	}

	.values-line {
		position: absolute;
		width: 100%;
		display: block;
		height: 5px;
		background-color: $cPrimaryLight;
		top: 0;
		bottom: 0;
		margin: auto;
		z-index: -1;
		border-radius: 10px;
	}
}

.information-box {
	display: flex;
	flex-wrap: wrap;

	background-color: $cBg;
	border-radius: 10px;
	padding: 2em;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	.info-box {
		display: grid;
		width: 300px;

		&__item {
			margin: 0.5em;
		}

		a {
			color: $cText;
			text-decoration: none;
			margin: 0.5em;
		}

		.info-icon {
			color: $cPrimaryLight;
			margin-right: 0.5em;
			font-size: 1.5em;
		}
	}

	@include from {
		padding: 1em;
		justify-content: space-around;
	}
}

/* 
 ======= This Section skills ==========
*/
.skill-box {
	display: grid;

	grid-gap: 1em;
	justify-content: center;

	.skill-container {
		padding: 1em 2em;
		background-color: $cBg;
		text-align: center;
		border-radius: 10px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

		.skill-icon {
			font-size: 4em;
			color: $cPrimaryLight;
		}
	}

	@include from {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-gap: 1.5em;
	}
}

/* 
 ======= This Section skills ==========
*/
.resume {
	.resume-content {
		text-align: center;
	}

	.resume-icon {
		font-size: 5em;
		color: $cPrimaryLight;
		border: 2px solid;
		width: 120px;
		height: 120px;
		border-radius: 100px;
		padding: 0.3em;
	}

	.resume-icon__especial {
		font-size: 4.2em;
	}

	.resume-line {
		width: 3px;
		height: 50px;
		background-color: $cPrimaryLight;
		display: block;
		text-align: center;
		margin: 1em auto;
		border-radius: 2px;
	}
}

/* 
 ======= This Section Portfolio ==========
*/

.portfolio {
	.portfolio-content {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-gap: 1em;
	}

	.portfolio-box {
		border-radius: 0.8em;
		text-align: center;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		background-color: $cBg;

		padding: 1em;
	}

	.portfolio-buttons {
		&__link {
			color: $cTextWhite;
		}
	}

	.link-disable {
		filter: brightness(0.5);
	}

	.portfolio-icon {
		background-color: $cPrimaryLight;
		border-radius: 50%;
		font-size: 1.5em;
		padding: 0.4em;
		margin: 0 1em;
	}

	.portfolio-img {
		max-width: 100%;
		height: auto;
	}
}

/* 
 ======= This Section Services ==========
*/

.services {
	&-content {
		display: grid;
		justify-content: space-around;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-gap: 2em;
	}

	&-item {
		text-align: center;
		border: 2px solid $cPrimaryLight;
		border-radius: 10px;
		padding: 0.8em;

		.text-p {
			text-align: justify;
		}
	}

	&-icon {
		color: $cTextWhite;
		background-color: $cPrimaryLight;
		padding: 1em;

		border-radius: 50%;

		&.fa {
			font-size: 2.5em;
		}
	}
}

/* 
 ======= This Section Contact ==========
*/
.contact {
	&-box {
		display: grid;
		grid-gap: 1em;

		@include from {
			grid-template-columns: 40% auto;
		}
	}

	&-content {
		border-radius: 0.5em;
		padding: 1em;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		background-color: $cBg;

		&__item {
			display: flex;
			margin: 1em 0.5em;
			align-items: center;
			flex-wrap: wrap;

			a {
				color: $cText;
				text-decoration: none;
			}
		}
	}

	.title-2 {
		margin: 0;
		text-align: start;
	}

	&-item__text {
		margin-left: 0.8em;

		.text-p {
			margin: 5px;
		}
	}

	&-icon {
		width: 40px;
		height: 40px;
		color: $cTextWhite;
		border-radius: 50%;
		padding: 0.5em;
		background-color: $cPrimaryLight;

		&.fa {
			font-size: 1.3em !important;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&-google-maps {
		width: 100%;
		height: auto;
	}

	&-form {
		&__item {
			display: grid;

			.form-input {
				background: $cTextWhite;
				border: 1px solid $cPrimaryLight;
				border-radius: 5px;
				padding: 0.3em;
				margin: 0.3em 0 1em;
				width: 100%;
			}

			.form-button {
				background-color: $cPrimaryLight;
				border-radius: 5px;
				padding: 0.5em;
				color: $cTextWhite;
				border: none;

				&:hover {
					background-color: $cPrimary;
				}
			}
		}
	}
}